@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cdcdcd;
}

.videobg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    width: 180px;
}

.navigation a {
    position: relative;
    font-size: 17px;
    color: #5c5c5c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #5c5c5c;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .contactUs {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #5c5c5c;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    color: #5c5c5c;
    font-weight: 500;
    transition: .5s;
    margin-left: 40px;
}

.navigation .contactUs:hover {
    background-color: #5c5c5c;
    color: #162938;
}

.faq h1 {
    text-align: center;
    color: #5c5c5c;
    padding-top: 150px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 50px;
}

.faq details {
    text-align: justify;
    color: #5c5c5c;
    padding-left: 20vw;
}

.faq details summary {
    
  cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.faq details #answer {
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
    width:900px;
}

.faq hr {
    position: relative;
    width:70vw;
    margin: auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #5c5c5c;
    padding: 0;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    text-align: center;
    font-size: x-small;
    color: #fff; 
    padding: 9px;
}
