@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.videobg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position:fixed;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navbar-color {
    background-color: #2c2e2b;
    width: 100%;
}

.logo {
    width: 150px;
}

.navigation a {
    position: relative;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .contactUs {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    margin-left: 40px;
}

.navigation .contactUs:hover {
    background-color: #5c5c5c;
    color: #fff;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}

.main {
    height: 100vh;
}

.main a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 14px 50px;
    border-radius: 50px;
    margin-top: 50px;
}

.content {
    padding-top: 230px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-weight: bolder;
    color: #d4d4d4;
    font-size: 100px;
}

.content h3 {
    position: relative;
    color: #d4d4d4;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 23px;
}

.about {
    background-color: #cdcdcd;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 100px;
  }

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.about .container img {
    padding-top: 100px; 
    padding-right: 150px;
    max-width: 570px;
}

.about .container .image {
    flex-basis: 40%;
}

.about .text {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.about .text h1{
    padding-top: 4  0px;
    text-align: center;
    font-weight: bolder;
    color: #2c2e2b;
    font-size: 50px;
}

.about .text p {
    text-align: justify;
    font-size: 17px;
    color: #3F423E;
}

.about .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .container2 img {
    padding-left: 150px;
    max-width: 570px;
}

.about .container2 img .overlay {
    padding-left: 150px;
    max-width: 570px;
}

.about .container2 .image2 {
    flex-basis: 40%;
}

.about .text2 {
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 50px;
}

.about .text2 h1{
    text-align: center;
    font-weight: bolder;
    color: #2c2e2b;
    font-size: 50px;
}

.about .text2 p {
    text-align: justify;
    font-size: 17px;
    color: #2c2e2b;
}

.pricing {
    height: 100vh;
    background-color: #2c2e2b;
}

.pricing .heading {
    text-align: center;
    color: #cdcdcd;
    padding-top: 150px;
    padding-bottom: 20px;
}

.pricing .heading h1 {
    font-weight: bolder;
    font-size: 50px;
}

.pricing-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 400px;
    background: #cdcdcd;
    border-radius: 5px;
}

.box-img {
    width:130px;
    height:130px; 
    padding-bottom: 150px;
}

.box-img img {
    width: 100%;
}

.box h2 {
    font-size: 30px;
    font-weight: bolder;
    color:#2c2e2b;
    text-align: center;
}

.box p {
    font-size: 20px;
    color:#2c2e2b;
}

.box .contactUs {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #2c2e2b;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    color: #2c2e2b;
    font-weight: 500px;
    transition: .5s;
    margin-top: 10px;
}

.box .contactUs:hover {
    background-color: #5c5c5c;
    color: #fff;
}

.faq {
    height: 100%;
    background-color: #CFCDCD;
    position: relative;
    padding-bottom: 160px;
}
.faq h1 {
    text-align: center;
    color: #2c2e2b;
    padding-top: 150px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 70px;
}

.faq details {
    text-align: justify;
    color: #2c2e2b;
    padding-left: 200px;
}

.faq details summary {
    
  cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.faq details #answer {
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 10px;
    width:900px;
    height: 100%;
}

.faq hr {
    position: relative;
    width:1200px;
    margin: auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #5c5c5c;
    padding: 0;
}

footer {
    position: relative;
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 100px 40px;
	overflow: hidden;
}

footer .footer-left {
	float: left;
}

footer .footer-left img {
    width: 200px;
}

footer .footer-links{
	color:  #cdcdcd;
	margin: 0 0 10px;
	padding: 0;
}

footer .footer-links a{
	display:inline-block;
	color: #cdcdcd;
}

footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

footer .footer-right{
	float: right;
}

footer .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #CFCDCD;
}

footer form{
	display: inline-block;
}

footer form input,
footer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #2c2e2b;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}

footer form input{
	height: 55px;
	margin-bottom: 15px;
}

footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

footer form button {
	border-radius: 3px;
	background-color:  #2c2e2b;
	color: #cdcdcd;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}
